<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/src/email.css" />
    <link rel="icon" type="image/png" href="/public/images/logo.png" />
    <title>Precision Appraisal | Email us</title>
  </head>
  <body>

    <div class="container red topBotomBordersOut">
      <a href="/">HOME</a>
      <a href="/services">SERVICES</a>
      <a href="/contact">CONTACT</a>
      <a href="/about">ABOUT</a>
      <a href="free-appraisal-quote">QUOTES</a>
    </div>
    <br />

  

    <section id="hire">
      <h1>Contact Us</h1>
      <div class="sent"><%= locals.sent %></div>

      <form method="POST">
        <div class="field name-box">
          <input
            name="name"
            type="text"
            id="name"
            placeholder="Who Are You?"
            value="<%= locals.form? form.name : '' %>"
          />
          <label for="name">Name</label>
          <span class="ss-icon">Name</span>
        </div>

        <div class="field email-box">
          <input
            name="email"
            type="text"
            id="email"
            placeholder="name@email.com"
            value="<%= locals.form? form.email : '' %>"
          />
          <label for="email">Email</label>
          <span class="ss-icon">Email</span>
        </div>

        <div class="field phone-box">
          <input
            name="phone"
            type="text"
            id="phone"
            placeholder="Phone number..."
            value="<%= locals.form? form.phone : '' %>"
          />
          <label for="phone">Phone</label>
          <span id="phoner" class="ss-icon">Phone</span>
        </div>

        <div class="field msg-box">
          <textarea
            name="msg"
            id="msg"
            rows="4"
            placeholder="Your message..."
          ><%= locals.form? form.msg : '' %></textarea>
          <label for="msg">Msg</label>
          <span class="ss-iconn"> Msg</span>
        </div>
    
        <button class="button" type="submit">Send</button>

 <!-- IF FORM IS RE-RENDERED , KEEP THE INPUT LOCKS ON -->

        <% if (locals.errors) { %>
        <ul>
          <% errors.forEach(error => { %>
          <li class="error"><%= error.msg %></li>
          <% }) %>
        </ul>
        
        <% } %>
      </form>
    </section>
    <section class="other">

    250 897 5046 ☎ <br>
    precisionappraisalgroup@shaw.ca ✉

    </section>
   
    <script src="/javascripts/email.js"></script>
  </body>
</html>
