<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Precision Appraisal Group - Comox Valley</title>
    <link rel="stylesheet" href="stylesheets/src/styles.css" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  </head>
  <body>

    <div class="page">
      <div class="main" id="home">
        <div class="header js-header">
          <div class="header__center center"><a class="header__logo" href="#"><img class="header__pic" src="images/nice.png" alt=""></a>
            <div class="header__wrap js-header-wrap">
              <nav class="header__nav"><a class="header__link js-link" href="#">home</a><a class="header__link js-link" href="#services">services</a><a class="header__link js-link" href="#services">our team</a><a class="header__link js-link contact" href="#contact">contact</a><a class="header__link js-link" href="/free-quote">free quote</a></nav>
            </div><button class="header__burger js-header-burger"></button>
          </div>
          <div class="header__bg js-header-bg"></div>
        </div>
        <div class="main__center center">
          <div data-aos="fade-up" class="main__wrap">
            <h1 class="main__title">PRECISION<br>APPRAISALS</h1>
            <div class="main__info">Proudly Serving The Comox Valley Since 2013 </div>
            <div class="main__btns"><a href="/free-quote" class="main__btn btn btn_primary">Free Quote</a><a href="#contact" class="main__btn btn btn_secondary">Contact Us</a></div>
          </div>
        </div>
        <div class="main__circles">
          <div class="main__circle"></div>
          <div class="main__circle"></div>
          <div class="main__circle"></div>
          <div class="main__circle"></div>
          <div class="main__circle"></div>
        </div>
      </div>

      <div class="skills" id="services">
        <div class="skills__head">
          <div class="skills__center center">
            <div class="skills__row">
              <div data-aos="fade-up" data-aos-delay="250" class="skills__col">
                <h2 class="skills__title title">What does Precision Appraisal Group do?</h2><a class="skills__link" href="#contact">contact us with any questions<svg class="icon icon-arrow-right">
                    <use xlink:href="images/sprite.svg#icon-arrow-right"></use>
                  </svg></a>
              </div> 
              <div data-aos="fade-up" data-aos-delay="250" class="skills__col" >
                <div class="skills__info">We provide accurate real estate appraisals to our clients across the mid to north Vancouver Island. We specialize in residential, insurance and legal & assessment appeals.</div>
              </div>
            </div>
          </div>
        </div>

        <div class="skills__body">
          <div class="skills__center center">
            <div class="skills__list js-owl" data-items-mobile-portrait="1" data-items-mobile-album="1" data-autoheight>
              <div class="skills__item">
                <div class="skills__details">
                  <div class="skills__preview" >
                    <div class="skills__icon"><img class="skills__pic" src="/images/glober.png" alt=""></div>
                  </div>
                  <div class="skills__category">residential.</div>
                  <div class="skills__text">Our fully qualified and designated appraisal staff have completed a countless number of residential appraisals over past 15 years. single family homes, strata condominiums, acrage properties & more</div>
                </div>
              </div>
              <div class="skills__item">
                <div class="skills__details" >
                  <div class="skills__preview">
                    <div class="skills__icon"><img class="skills__pic" src="images/shield.png" alt=""></div>
                  </div>
                  <div class="skills__category">Insurance.</div>
                  <div class="skills__text">Precision Appraisal Group provides our clients with accurate appraisal reports which determine a property's total insurable value for the purpose of replacement cost insurance.</div>
                </div>
              </div>
              <div class="skills__item">
                <div class="skills__details" >
                  <div class="skills__preview">
                    <div class="skills__icon"><img class="skills__pic" src="images/legal.png" alt=""></div>
                  </div>
                  <div class="skills__category">Legal & Appeal.</div>
                  <div class="skills__text">Lorem ipsum dolor sit amet consectetur adipisicing elit.  nim obcaecati repellat doloremque, inventore qui minus velit necessitatibus quisquam hic accusamus cum at voluptas ratione ab!</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="connect" id="contact">
      <div data-aos="fade-down"  data-aos-delay="250" class="connect__head" >
        <div class="connect__center center">
          <h2 class="connect__title title">let’s connect</h2>
          <div class="connect__info">Fill in the form below and we'll be in touch with you shortly, <br> or call us at <a href="tel:1-250-897-5046">250-897-5046</a>.</div>
          <div class="sent"><%= locals.sent %></div>
        </div>
      </div>
      <div class="connect__body">
        <form method="POST" action="#contact" class="connect__form">
          <div class="connect__row">
            <div class="connect__wrap">
              <div class="connect__box">
                <div class="connect__fieldset">
                  <div  class="connect__field field">
                    <div class="field__label">full name*</div>
                    <div class="field__wrap"><input class="field__input" type="text" id="name" name="name" placeholder="Your name here..."  value="<%= locals.form? form.name : '' %>"></div>
                   <!-- name error message from server side validation -->
                   <% if (locals.errors && errors.name) { %>
                    <div class="error"><%= errors.name.msg %></div>
                    <% } %>
                  </div>
                  <div class="connect__field field">
                    <div class="field__label">email address*</div>
                    <div class="field__wrap"><input class="field__input" type="text" name="email" placeholder="Your email here..." value="<%= locals.form? form.email : '' %>"></div>
                    <!-- name error message from server side validation -->
                    <% if (locals.errors && errors.email) { %>
                      <div class="error"><%= errors.email.msg %></div>
                      <% } %>
                  </div>
                  <div class="connect__field field">
                    <div class="field__label">phone number*</div>
                    <div class="field__wrap"><input class="field__input" type="tel" name="phone" placeholder="Your number here..." value="<%= locals.form? form.phone : '' %>"></div>
                    <!-- phone error message from server side validation (its an optional field, but it checks that its numeric) -->
                    <% if (locals.errors && errors.phone) { %>
                      <div class="error"><%= errors.phone.msg %></div>
                      <% } %>
                  </div>
                  <div class="connect__field field">
                    <div class="field__label">your message*</div>
                    <div class="field__wrap"><textarea class="field__input textBox" type="text" name="message" placeholder="Your message here..."></textarea>
                    <!-- message error message from server side validation -->
                    <% if (locals.errors && errors.message) { %>
                      <div class="error"><%= errors.message.msg %></div>
                      <% } %>
                  </div>
                </div><button type="submit" class="connect__btn btn btn_primary">send message</button>
              </div>
            </div>
            <div class="connect__map"><img class="connect__pic" src="images/map.png" alt="">
            </div>
          </div>
        </form>
      </div>
    </div>




    <footer>
      <nav class="footer-inner">
        <section class="footer-item">
          <h1>PRECISION</h1>
          
          <h2>Proudly serving the Comox Valley.<br>We also offer our services to: <br> Bowser, Fanny Bay, Buckley Bay,<br> Union Bay, Cumberland, Royston <br> Merville, Black Creek, Campbell River, <br> Hornby Island and Denmand Island, <br> and anywhere else in-between.  <br><b class="color">Please email us with any questions <br> in regards to the locations of our services.</b></h2>
        </section>
            
        <section class="footer-item">
          <h3>Explore</h3>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#services">Services</a></li>
              <li><a href="#team">Our Team</a></li>
              <li><a href="#contact">Contact</a></li>
              <li><a href="/free-quote">Free Quote</a></li>
            </ul>
        </section>
              
        <section class="footer-item">
          <h3>Location</h3>
            
            <p class="location">Comox British Columbia,</p>
            <p class="location">301 Curtis Road, V9M 3W1</p>
            
                
          <h3 class="desktop">Contact Us</h3>
            <p class="desktop"><a href="mailto:precisionappraisalgroup@shaw.ca ">precisionappraisalgroup@shaw.ca</a></p>
            <p class="desktop"><a href="tel:1-250-897-5046">250-897-5046</a></p>
        </section>
        
       
        <section class="footer-item">
            <a href="/free-quote" class="footer-button">Free Quotes</a>
        </section>
      </nav>
    </footer>
  </div>
 
 <script type="text/javascripts">

   import jump from '../node_modules/jump.js/dist/jump.module.js'

  </script>

  <script>
  AOS.init();
  </script>
  <script src="javascripts/main.js"></script>
</body>
</html>

