<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Precision Appraisal Group - Comox Valley - Real Estate Appraisals</title>
    <!-- <link rel="preload" href="../public/stylesheets/src/fonts/Montserrat-UltraLight.woff" as="font" crossorigin="anonymous" /> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Precision Appraisal Group has been providing accurate real estate appraisals to clients in the Comox Valley since 2013.">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="theme-color" content="#141414">
    <link rel="shortcut icon" href="images/house.png" type="image/x-icon">
    <link rel="stylesheet" href="stylesheets/styles.css" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jump.js/1.0.2/jump.min.js" integrity="sha512-Q9CUUoQ/LaD+X7jk76kM6swUEc8q0YPGBcH/Lflux+JatH8zIZPkIb0b91NW5ASgy9ENLhTzt2Z/zZ6yyake2w==" crossorigin="anonymous"></script> -->
  </head>
  <body>
    <div class="page">
      <div class="main" id="home">
        <div class="header js-header">
          <div class="header__center center"><a class="header__logo" aria-label="Link to home section" href="#">
            <picture>
              <source class="header__pic" id="mainLogo" srcset="images/logo.webp" type="image/webp">
              <source class="header__pic" id="mainLogo" srcset="images/logo.png" type="image/png">
              <img class="header__pic" id="mainLogo" src="images/logo.png" alt="Precision Appraisal Groups logo">
            </picture>
            </a>
            <div class="header__wrap js-header-wrap">
              <nav class="header__nav"><a class="header__link js-link" id="homee" aria-label="Link to home section" href="#">home</a><a class="header__link js-link" id="servicess" aria-label="Link to services section" href="#services">services</a><a class="header__link js-link" id="teamlink" aria-label="Link to team section" href="#team">our team</a><a class="header__link js-link" id="con" aria-label="Link to contact section" href="#contact">contact</a><a class="header__link js-link" aria-label="Link to quote page" href="/free-quote">free quote</a></nav>
            </div><button class="header__burger js-header-burger" aria-label="Open mobile menu"></button>
          </div>
          <div class="header__bg js-header-bg"></div>
        </div>
        <div class="main__center center">
          <div data-aos="fade-up" class="main__wrap">
            <h1 class="main__title" data-aos="animation-scale-x">PRECISION<br>APPRAISAL GROUP</h1>
            <div class="main__info" data-aos="animation-scale-x" data-aos-delay="200">Proudly Serving The Comox Valley Since 2013 </div>
            <div class="main__btns" data-aos="animation-scale-x" data-aos-delay="400"><a href="/free-quote" aria-label="Link to quote page" class="main__btn btn btn_primary free">Free Quote</a><a href="#contact" id="con2" aria-label="Link to contact section" class="main__btn btn btn_secondary">Contact Us</a></div>
          </div>
        </div>
        <div class="main__circles">
          <div class="main__circle"></div>
          <div class="main__circle"></div>
          <div class="main__circle"></div>
          <div class="main__circle"></div>
          <div class="main__circle"></div>
        </div>
      </div>

      <div class="skills" id="services">
        <div class="skills__head">
          <div class="skills__center center">
            <div class="skills__row">
              <div  data-aos="fade-up" class="skills__col">
                <h2 class="skills__title title">What does Precision Appraisal Group do?</h2><a class="skills__link" id="arrow" aria-label="Link to contact section" href="#connect">contact us with any questions<svg class="icon icon-arrow-right">
                    <use xlink:href="images/sprite.svg#icon-arrow-right"></use>
                  </svg></a>
              </div> 
              <div data-aos="fade-up" class="skills__col" >
                <div class="skills__info">We provide accurate real estate appraisals to our clients across mid to north Vancouver Island. We specialize in residential, <br> legal and assessment appeal assignments.</div>
              </div>
            </div>
          </div>
        </div>

        <div class="skills__body">
          <div class="skills__center center">
            <div class="skills__list js-owl" data-items-mobile-portrait="1" data-items-mobile-album="1" data-autoheight>

              <div class="skills__item">
                <div class="skills__details">
                  <div class="skills__preview">
                    <div class="skills__icon">
                      <picture>
                        <source class="skills__pic" srcset="images/glober.webp" type="image/webp">
                        <source class="skills__pic" srcset="images/glober.png" type="image/png">
                         <img class="skills__pic" src="images/glober.png" alt="Small icon of a globe">
                      </picture>
                     </div>
                  </div>
                  <div class="skills__category">residential appraisal</div>
                  <div class="skills__text">Our fully qualified and designated appraisal staff have completed a countless number of residential appraisals over the past 7 years. Single family homes, town homes, acreage properties & more.</div>
                </div>
              </div>
           
              <div class="skills__item">
                <div class="skills__details" >
                  <div class="skills__preview">
                    <div class="skills__icon">
                      <picture>
                        <source class="skills__pic" srcset="images/shield.webp" type="image/webp">
                        <source class="skills__pic" srcset="images/shield.png" type="image/png">
                         <img class="skills__pic" src="images/shield.png" alt="Small icon of a legal folder">
                      </picture>
                    </div>
                  </div>
                  <div class="skills__category">Legal assignments</div>
                  <div class="skills__text">Whether ordered by a lawyer, accountant, bank, family member or yourself, Precision Appraisal Group provides trusted advice and reports to satisfy our clients' needs.</div>
                </div>
              </div>

              <div class="skills__item">
                <div class="skills__details">
                  <div class="skills__preview" >
                    <div class="skills__icon">
                      <picture>
                        <source class="skills__pic" srcset="/images/legal.webp" type="image/webp">
                        <source class="skills__pic" srcset="/images/legal.png" type="image/png">
                        <img class="skills__pic" src="/images/legal.png" alt="Small icon of a globe">
                      </picture>
                    </div>
                  </div>
                  <div class="skills__category">Appeal assignments</div>
                  <div class="skills__text">Our fully qualified and designated appraisal staff have completed a countless number of residential appraisals over the past 7 years. Single family homes, town homes, acreage properties & more.</div>
                </div>
              </div>

           
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="details" id="team">
      <div data-aos="fade-up" class="details__center center">
        <div class="details__item">
          <div class="details__preview"></div>
        </div>
        <div class="details__item">
          <div class="details__wrap" data-aos="animation-scale-x">
            <h2 class="details__title title">
            Meet Our Team</h2>
            <div class="details__text">
              Mike Mayhew
              <br>
              BCom || AACI
              <br>
              <br>
              Mike began his professional career as a Canadian Military Search and Rescue helicopter pilot. Upon retiring from this rewarding experience, 
              Mike began his appraisal career in 2006 with a strong background in business (BCom) and a Post Graduate Certificate in Real Property Valuation from UBC.
            </div>
            <a class="details__more" id="get" aria-label="Link to quote page" href="/free-quote"
              >Request a quote<svg class="icon icon-arrow-right">
                <use xlink:href="images/sprite.svg#icon-arrow-right"></use></svg></a>
          </div>
          <div class="details__preview">
            <div class="details__photo">
              <picture>
                <source class="details__pic" srcset="/images/Miker.webp" type="image/webp">
                <source class="details__pic" srcset="/images/Miker.png" type="image/png">
                <img class="details__pic" src="images/Miker.png" alt="Portait of Mike, the company owner. Portait is taken outside, with mountains in the background." />
              </picture>
            </div>
            <div
              class="details__bg"
              data-aos="animation-custom"
              data-aos-duration="1500"
              data-aos-offset="0">
              <picture>
                <source srcset="images/photo-8.webp" type="image/webp">
                <source srcset="images/photo-8.png" type="image/png">
                <img class="details__pic" src="images/photo-8.png" alt="Background image, mountains, trees and an orange sky." />
              </picture>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="connect" id="contact">
      <div data-aos="fade-up" class="connect__head" >
        <div class="connect__center center">
          <h2 class="connect__title title">let’s connect</h2>
          <div class="connect__info">Fill in the form below and we'll be in touch with you shortly, <br> or call us at <a aria-label="Link to call us" href="tel:1-250-897-5046">250-897-5046</a>.</div>
          <div class="sent"><%= locals.sent %></div>
        </div>
      </div>
      <div class="connect__body">
        <form method="POST" action="#contact" class="connect__form">
          <div class="connect__row">
            <div class="connect__wrap">
              <div class="connect__box">
                <div class="connect__fieldset">
                  <div  class="connect__field field">
                    <label for="name" class="field__label">full name*
                    <div class="field__wrap"><input class="field__input" type="text" id="name" name="name" value="<%= locals.form? form.name : '' %>"></label>  </div>
                   <% if (locals.errors && errors.name) { %>
                    <div class="error"><%= errors.name.msg %></div>
                    <% } %>
                  </div>
                  <div class="connect__field field">
                    <label for="email" class="field__label">email address*
                    <div class="field__wrap"><input class="field__input" type="text" name="email" value="<%= locals.form? form.email : '' %>"> </label>  </div>
                    <% if (locals.errors && errors.email) { %>
                      <div class="error"><%= errors.email.msg %></div>
                      <% } %>
                  </div>
                  
                  <div class="connect__field field">
                    <label for="phone" class="field__label">phone number*
                    <div class="field__wrap"><input class="field__input" type="tel" name="phone"  value="<%= locals.form? form.phone : '' %>"></label>   </div>
                    <% if (locals.errors && errors.phone) { %>
                      <div class="error"><%= errors.phone.msg %></div>
                      <% } %>
                  </div>
                  
                      <div class="connect__field field">
                        <label for="message" class="field__label" id="wtf">your message*
                        <div class="field__wrap"><textarea class="field__input" id="theText" type="text" name="message"><%= locals.form? form.message : '' %></textarea></label>
                       
                        <% if (locals.errors && errors.message) { %>
                          <div class="error"><%= errors.message.msg %></div>
                          <% } %>
                      </div>
                  </div>
                </div><button type="submit" aria-label="Send message" id="sendIt" class="connect__btn btn btn_primary">send message</button>
              </div>
            </div>
            <div class="connect__map">
              <picture>
                <source class="connect__pic" srcset="images/map.webp" type="image/webp">
                <source class="connect__pic" srcset="images/map.png" type="image/png">
                <img class="connect__pic" src="images/map.png" alt="Picture of a map">
              </picture>
                <div class="connect__marker">
                <div class="connect__circle"></div>
                <div class="connect__circle"></div>
                <div class="connect__circle"></div>
                <div class="connect__circle"></div>
              </div> 
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="footer">
      <div class="footer__center center">
        <div class="footer__row"><a class="footer__logo" id="logo2" aria-label="Link to home section" href="#">
          <picture>
            <source class="footer__pic" srcset="images/logo.webp" type="image/webp">
            <source class="footer__pic" srcset="images/logo.png" type="image/png">
            <img class="footer__pic" src="images/logo.png" alt="Precison Appraisal Groups Logo">
          </picture>
          </a>
          <div class="footer__menu"><a class="footer__link js-link" aria-label="Link to home section" href="#main"><a class="footer__link js-link" aria-label="Link to home section" id="homie" href="#">home</a>
              </svg></a><a class="footer__link js-link" id="survices" aria-label="Link to services section" href="#services">services</a><a class="footer__link js-link" id="teamteam" aria-label="Link to team section" href="#team">Our Team</a><a class="footer__link" aria-label="Link to email us" href="mailto:precisionappraisalgroup@shaw.ca">Email us</a><a class="footer__link" aria-label="Link to call us" href="tel:1-250-897-5046">Call Us</a></div><a href="/free-quote" aria-label="Link to quote page" class="footer__btn btn btn_sm btn_border-white">request a quote</a>
        </div>
        <div class="footer__copyright">© Copyright 2020, Power Creative.
      </div>
    </div>
  
  <script src="/public/javascripts/app.min.js"></script>
  <script src="/public/javascripts/common.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jump.js/1.0.2/jump.min.js" integrity="sha512-Q9CUUoQ/LaD+X7jk76kM6swUEc8q0YPGBcH/Lflux+JatH8zIZPkIb0b91NW5ASgy9ENLhTzt2Z/zZ6yyake2w==" crossorigin="anonymous"></script>


</body>
</html>
