<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/src/home.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="icon" type="image/png" href="/public/images/logo.png" />
    <title>Precision Appraisal | Free Quotes</title>
  </head>
  <body>
    <div class="container red topBotomBordersOut">
      <a href="/">HOME</a>
      <a href="/services">SERVICES</a>
      <a href="/contact">CONTACT</a>
      <a href="/about">ABOUT</a>
      <a href="free-appraisal-quote">QUOTES</a>
    </div>

    <section> <h2>Request a free Appraisal Quote</h2>
    <div class="error"><%= locals.sent %></div></section>
   

    <form method="POST">
      <section>
        <h3>Your Name</h3>
        <!-- <label for="firstName">First*</label> <br /> -->
        <input
          placeholder="*First..."
          class="input"
          name="firstName"
          type="text"
          value="<%= locals.form? form.firstName : '' %>"
        />
        
        <% if (locals.errors && errors.firstName) { %>
        <div class="error"><%= errors.firstName.msg %></div>
        <% } %>

        <!-- <label for="lastName">Last*</label> <br /> -->
        <input
          placeholder="*last..."
          class="input"
          name="lastName"
          type="text"
          value="<%= locals.form? form.lastName : '' %>"
        />
        <% if (locals.errors && errors.lastName) { %>
        <div class="error"><%= errors.lastName.msg %></div>
        <% } %>
      </section>

      <section>
        <h3>Contact Information</h3>
        <!-- <label for="email">Email*</label> <br /> -->
        <input
          placeholder="*email..."
          class="input"
          name="email"
          type="text"
          value="<%= locals.form? form.email : '' %>"
        />
        <br />
        <% if (locals.errors && errors.email) { %>
        <div class="error"><%= errors.email.msg %></div>
        <% } %>

        <!-- <label for="phone">Phone</label> <br /> -->
        <input
          placeholder="phone number..."
          class="input"
          name="phone"
          type="tel"
          value="<%= locals.form? form.phone : '' %>"
        />
        <% if (locals.errors && errors.phone) { %>
          <div class="error"><%= errors.phone.msg %></div>
          <% } %>
      </section>

      <section>
        <h3>Property information</h3>
        <!-- <label for="unit">Unit</label> <br /> -->
        <input
          placeholder="unit..."
          class="input"
          name="unit"
          type="text"
          value="<%= locals.form? form.unit : '' %>"
        />
        

        <!-- <label for="address">Address</label> <br /> -->
        <input
       
          placeholder="address..."
          id="uh"
          onclick="umm()" 
          class="input"
          name="address"
          type="text"
          value="<%= locals.form? form.address : '' %>"
        />
       

        <!-- <label for="postal">Postal Code</label> <br /> -->
        <input
          placeholder="postal code..."
          class="input"
          name="postal"
          type="text"
          value="<%= locals.form? form.postal : '' %>"
        />
     

        <h4>*type of property</h4>
        <!-- <label class="select" for="propertyType">Type of Property*</label> <br /> -->
        <select class="custom-select" id="types" name="propertyType">
          <option value="Building Lot">Building Lot</option>
          <option value="Condo - Appartment">Condo - Appartment</option>
          <option value="Duplex">Duplex</option>
          <option value="Co-op">Co-op (Owned)</option>
          <option value="Other">Other</option>
        </select>
        <br />
        
        <h4>*Purpose of Appraisal</h4>
        <!-- <label class="select" for="purpose"> Purpose of Appraisal*</label> <br /> -->
        <select class="custom-select" id="purpose" name="purpose">
          <option value="Capital Gains">Capital Gains</option>
          <option value="Depreciation Report">Depreciation Report</option>
          <option value="Division">Division of Assets</option>
          <option value="Estate">Estate / Probate / Will</option>
          <option value="For Sale">For Sale / Pre-listing / Market Value</option>
          <option value="Insurance">Insurance Appraisal</option>
          <option value="Litigation">Litigation</option>
          <option value="Market Rent">Market Rent</option>
          <option value="Mortgage">Mortgage Financing</option>
          <option value="Purchase">Purchase</option>
          <option value="Other">Other</option>
        </select>
     
      <!-- <label for="info">Additional Information</label> <br /> -->
     <h4>Additional Information</h4>
     <textarea class="txt" class="txt" name="info" id="info"></textarea> <br />
     
    <button class="sub" type="submit">Sumbit</button>
    </section>

      
    </form>

    <% if (locals.errors) { %>
    <!-- save selected option  -->
    <script>
      var selectedInput = "<%= selected %>";
      var options = document.querySelector('[name="propertyType"]');
      for (var i = 0; i < options.length; i++) {
        if (selectedInput === options[i].value) {
          options[i].selected = "selected";
          break;
        }
      }
      var selectedInput2 = "<%= selected2 %>";
      var options = document.querySelector('[name="purpose"]');
      for (var i = 0; i < options.length; i++) {
        if (selectedInput2 === options[i].value) {
          options[i].selected = "selected";
          break;
        }
      }
    </script>
    <% } %>
    <script src="/javascripts/quotes.js"></script>
  </body>
</html>