<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/src/form.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <section class="get-in-touch">
        <h1 class="title">Get a free quote</h1>
          <div class="error"><%= locals.sent %></div>
        <form method="POST" class="contact-form row">

           <div class="form-field col x-50">
              <input
              name="firstName"
              id="firstName"
              class="input-text js-input"
              type="text" 
              value="<%= locals.form? form.firstName : '' %>">
              <label class="label" for="firstName">First Name</label>
          
            </div>

            
           <% if (locals.errors && errors.firstName) { %>
            <div class="error"><%= errors.firstName.msg %></div>
            <% } %>

           <div class="form-field col x-50">
              <input
              name="lastName"
              id="lastName"
              class="input-text js-input"
              type="text" 
              value="<%= locals.form? form.lastName : '' %>">
              <label class="label" for="lastName">Last Name</label>
           
            </div>

          <% if (locals.errors && errors.lastName) { %>
            <div class="error"><%= errors.lastName.msg %></div>
            <% } %>

           <div class="form-field col x-100">
              <input
              name="email"
              id="email"
              class="input-text js-input"
              type="email"
              value="<%= locals.form? form.email : '' %>">
              <label class="label" for="email">Email</label>
           </div>

           <% if (locals.errors && errors.email) { %>
            <div class="error"><%= errors.email.msg %></div>
            <% } %>

           <div class="form-field col x-100">
            <input
            name="phone"
            id="phone"
            class="input-text js-input"
            type="tel"
            value="<%= locals.form? form.phone : '' %>">
            <label class="label" for="phone">Phone</label>
         </div>

         <% if (locals.errors && errors.phone) { %>
            <div class="error"><%= errors.phone.msg %></div>
            <% } %>

         <div class="form-field col x-100">
            <input
            name="address"
            id="address"
            class="input-text js-input"
            type="tel"
            value="<%= locals.form? form.address : '' %>">
            <label class="label" for="address">Address</label>
         </div>

         <% if (locals.errors && errors.address) { %>
            <div class="error"><%= errors.address.msg %></div>
            <% } %>

         <div class="form-field col x-100">
            <input
            name="postal"
            id="postal"
            class="input-text js-input"
            type="tel"
            value="<%= locals.form? form.postal : '' %>">
            <label class="label" for="postal">Postal Code</label>
         </div>


         <div class="form-field col x-100">
            <select class="custom-select" id="types" name="propertyType">
                <option value="Building Lot">Building Lot</option>
                <option value="Condo - Appartment">Condo - Appartment</option>
                <option value="Duplex">Duplex</option>
                <option value="Co-op">Co-op (Owned)</option>
                <option value="Other">Other</option>
              </select>
            <label class="label" for="propertyType">Type Of Property</label>
         </div>


         <div class="form-field col x-100">
            <select class="custom-select" id="purpose" name="purpose">
                <option value="Capital Gains">Capital Gains</option>
                <option value="Depreciation Report">Depreciation Report</option>
                <option value="Division">Division of Assets</option>
                <option value="Estate">Estate / Probate / Will</option>
                <option value="For Sale">For Sale / Pre-listing / Market Value</option>
                <option value="Insurance">Insurance Appraisal</option>
                <option value="Litigation">Litigation</option>
                <option value="Market Rent">Market Rent</option>
                <option value="Mortgage">Mortgage Financing</option>
                <option value="Purchase">Purchase</option>
                <option value="Other">Other</option>
              </select>
            <label class="label" for="purpose">Purpose Of Appraisal</label>
         </div>


         <div class="form-field col x-100">
             
            <textarea class="txt input-text js-input" name="info" id="info"></textarea> <br />
            <label class="label" for="message">Additional Information</label>
         </div>

           <div class="form-field col x-100 align-center">
              <input class="submit-btn" type="submit" value="Submit">
           </div>




        </form>
     </section>

     <% if (locals.errors) { %>
        <!-- save selected options  -->
        <script>
          var selectedInput = "<%= selected %>";
          var options = document.querySelector('[name="propertyType"]');
          for (var i = 0; i < options.length; i++) {
            if (selectedInput === options[i].value) {
              options[i].selected = "selected";
              break;
            }
          }
          var selectedInput2 = "<%= selected2 %>";
          var options = document.querySelector('[name="purpose"]');
          for (var i = 0; i < options.length; i++) {
            if (selectedInput2 === options[i].value) {
              options[i].selected = "selected";
              break;
            }
          }
        </script>
        <% } %>


<script src="javascripts/quote.js"></script>


</body>
</html>