<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Precision Appraisal Group - Comox Valley - Free Quote - Real Estate Appraisals</title>
  <meta name="description" content="Precision Appraisal Group has been providing accurate real estate appraisals to clients in the Comox Valley since 2013.">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="theme-color" content="#141414">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="stylesheets/styles.css" />
  <link rel="shortcut icon" href="images/house.png" type="image/x-icon" />
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head> 

<body>
  <div id="page2">
  <div class="header js-header">
    <div class="header__center center">
      <a class="header__logo" id="mainLogo" aria-label="Link to homepage" href="/">
        <picture>
          <source class="header__pic" id="mainLogo" srcset="images/logo.webp" type="image/webp">
          <source class="header__pic" id="mainLogo" srcset="images/logo.png" type="image/png">
          <img class="header__pic" id="mainLogo" src="images/logo.png" alt="Precision Appraisal Groups logo">
        </picture>
      </a>
      <div class="header__wrap js-header-wrap">
        <nav class="header__nav">
          <a class="header__link js-link" id="homee" aria-label="Link to homepage" href="/">home</a><a
            class="header__link js-link" id="servicess" aria-label="Link to services section"
            href="/#services">services</a><a class="header__link js-link" id="team" aria-label="Link to team section"
            href="/#team">our team</a><a class="header__link js-link contact" id="con"
            aria-label="Link to contact section" href="/#contact">contact</a><a class="header__link js-link"
            aria-label="Link to free quote" href="/free-quote">free quote</a>
        </nav>
      </div>
      
      <button class="header__burger js-header-burger" aria-label="Open mobile menu"></button>
          </div>
          <div class="header__bg js-header-bg"></div>
    </div>



 <div id="quote" data-aos="fade-up" class="connect quoteConnect">
      <div class="connect__head">
        <div class="connect__center center">
          <h2 class="connect__title title">Request a quote</h2>
          <div id="quote__info" class="connect__info">Fill in the form below to request a free quote.</div>                                    
        </div>
      </div>
      <div class="connect__body">
        <div class="sent quo"><%= locals.errorMsg %></div>  
          <div class="sent quo"><%= locals.sent %></div> 
        <form method="POST" class="connect__form">
          
          <div id="quote__row" class="connect__row">
            <div id="quote__wrap" class="connect__wrapp">
              <div id="quote__box" class="connect__box">
                <div class="connect__fieldset">

                  <div class="connect__field field">
                    <label for="name" class="field__label">full name*
                    <div class="field__wrap"><input class="field__input" type="text" id="name" name="name" value="<%= locals.form? form.name : '' %>"></label>  </div>
                    <% if (locals.errors && errors.name) { %>
                      <div class="error"><%= errors.name.msg %></div>
                      <% } %>
                    </div>

                    <div class="connect__field field">
                      <label for="email" class="field__label">email address*
                      <div class="field__wrap"><input class="field__input" type="text" name="email" value="<%= locals.form? form.email : '' %>"> </label>  </div>
                      <% if (locals.errors && errors.email) { %>
                        <div class="error"><%= errors.email.msg %></div>
                        <% } %>
                    </div>
                    
                    <div class="connect__field field">
                      <label id="quotePhone" for="phone" class="field__label">phone number*
                      <div class="field__wrap"><input class="field__input" type="tel" name="phone"  value="<%= locals.form? form.phone : '' %>"></label>   </div>
                      <% if (locals.errors && errors.phone) { %>
                        <div class="error"><%= errors.phone.msg %></div>
                        <% } %>
                    </div>
                    
                    <div  class="connect__field field">
                      <label for="phone" class="field__label">Property Address*
                      <div class="field__wrap"><input  class="field__input" type="text" name="address"  value="<%= locals.form? form.address : '' %>"></label>   </div>
                      <% if (locals.errors && errors.address) { %>
                        <div class="error"><%= errors.address.msg %></div>
                        <% } %>
                    </div>
  
  
  
                    <div class="connect__field field">
                      <label class="label" id="type" for="propertyType">TYPE OF PROPERTY* <br>
                      <select class="custom-select" id="types" name="propertyType">
                        <option disabled selected value="Default">&#8212; Select An Option &#8212;  <span class="drop__option">↓</span></option>
                        <option value="Family Home">Family Home</option>
                        <option value="Building Lot or Acreage">Building Lot / Acreage</option>
                        <option value="Condo or Appartment">Condo / Appartment</option>
                        <option value="Duplex">Duplex</option>
                        <option value="Townhouse">Townhouse</option>
                        <option value="Patio Home">Patio Home</option>
                        <option value="Other">Other (Please Specify)</option>
                      </select></label>
                       <% if (locals.errors && errors.propertyType) { %>
                      <div class="error"><%= errors.propertyType.msg %></div>
                      <% } %>
                    </div>
                
  
                    <div class="connect__field field">
                      <label class="label" id="purp" for="purpose">PURPOSE OF APPRAISAL* <br>
                      <select class="custom-select" id="purpose" name="purpose">
                        <option disabled selected value="Default">&#8212; Select An Option &#8212; ↓ </option>
                        <option value="Purchase">Purchase</option>
                        <option value="For Sale or Pre-listing or Market Value">For Sale / Market Value</option>
                        <option value="Estate or Probate or Will">Estate / Probate / Will</option>
                        <option value="Market Rent">Market Rent</option>
                        <option value="Mortgage Financing">Mortgage Financing</option>
                        <option value="Division of Assests">Division of Assets</option>
                        <option value="Litigation">Litigation</option>
                        <option value="Capital Gains">Capital Gains</option>
                        <option value="Other">Other (Please Specify)</option>
           
                      </select></label>
                   <% if (locals.errors && errors.purpose) { %>
                          <div class="error"><%= errors.purpose.msg %></div>
                          <% } %>
                    </div>
 

                        <div class="connect__field field">
                          <label for="message" class="field__label" id="wtf">Additional Infromation
                          <div class="field__wrap"><textarea class="field__input" id="theText" type="text" name="message"><%= locals.form? form.message : '' %></textarea></label>
                          <% if (locals.errors && errors.message) { %>
                            <div class="error"><%= errors.message.msg %></div>
                            <% } %>
                        </div>
                    </div>
  
                    
                  </div><button type="submit" aria-label="Send message" id="sendIt" class="connect__btn btn btn_primary">send message</button>
                </div>
              </div>
            </div>

          </form>
        </div>
      </div>
 
  <!-- save selected options  -->
  <% if (locals.errors) { %>
    <script>
          var selectedInput = "<%= selected %>";
          var options = document.querySelector('[name="propertyType"]');
          for (var i = 0; i < options.length; i++) {
            if (selectedInput === options[i].value) {
              options[i].selected = "selected";
              break;
            }
          }
          var selectedInput2 = "<%= selected2 %>";
          var options2 = document.querySelector('[name="purpose"]');
          for (var i = 0; i < options2.length; i++) {
            if (selectedInput2 === options2[i].value) {
              options2[i].selected = "selected";
              break;
            }
          }
    </script>
  <% } %>



  <div class="footer">
  <div class="footer__center center">
      <div class="footer__row"><a class="footer__logo" id="logo2" aria-label="Link to home section" href="/">
        <picture>
          <source class="footer__pic" srcset="images/logo.webp" type="image/webp">
          <source class="footer__pic" srcset="images/logo.png" type="image/png">
          <img class="footer__pic" src="images/logo.png" alt="Precison Appraisal Groups Logo">
        </picture>
        </a>
        <div class="footer__menu"><a class="footer__link js-link" aria-label="Link to home section" href="/"></a><a class="footer__link js-link" aria-label="Link to home section" id="homie" href="/">home</a>
            </svg></a><a class="footer__link js-link" id="survices" aria-label="Link to services section" href="/#services">services</a><a class="footer__link js-link" id="teamteam" aria-label="Link to team section" href="/#team">Our Team</a><a class="footer__link" aria-label="Link to contact section" href="/#contact">Contact</a><a class="footer__link" id="footQuote" aria-label="Link to free qutoe section" href="">Free Quote</a></div><a href="" id="footQuote2" aria-label="Link to quote page" class="footer__btn btn btn_sm btn_border-white">request a quote</a>
      </div>
      <div class="footer__copyright">© Copyright 2020, Power Creative.
    </div>
  </div>

</div>



<script src="/public/javascripts/app.min.js"></script>
<script src="/public/javascripts/common.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jump.js/1.0.2/jump.min.js" integrity="sha512-Q9CUUoQ/LaD+X7jk76kM6swUEc8q0YPGBcH/Lflux+JatH8zIZPkIb0b91NW5ASgy9ENLhTzt2Z/zZ6yyake2w==" crossorigin="anonymous"></script>

</body>
</html>